$breakpoints: (
  '':'null',
  xs: 0,
  sm: 360px,
  ms: 480px,
  md: 768px,
  ml: 900px,
  lg: 1024px,
  xl: 1280px
);
$input-sizes: (
  1: 1.5rem,
  2: 2rem,
  3: 2.5rem,
  4: 3rem,
  5: 3.5rem,
  6: 4rem,
  7: 4.5rem,
  8: 5rem,
  9: 6rem
)