
.icon{
    border-radius: var(--rounded);
    height: var(--input-size);
    border: none;
    background-color: transparent;
    aspect-ratio: 1/1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}