.option{
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
    background-color: red !important;
    border: solid 1px red;
    display: none;

    +.indicator {
        border: solid 2px #ddd;
        width: 16px;
        aspect-ratio: 1/1 !important;
        display: inline-block;
        margin: 0px;
    }
}

input[type="radio"] {
    +.indicator {
        border-radius: 50%;
    }
}

input[type="checkbox"] {
    +.indicator {
        border-radius: 4px;
    }
}

input[type="radio"], input[type="checkbox"] {
    &:checked {
        + .indicator {
            border: solid 2px red;    
        }    
    }
    &:disabled {
        + .indicator {
            opacity: 0.5;    
        }    
    }
}