* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-weight: 100 !important;
  background-color: #F9FAFB !important;
  font-size: 14px;
}

a {
  text-decoration: none !important;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

:root {
  --rounded: 0.25rem;
  --input-size: 36px;
  --spacer: 1rem;
  --gap: 1rem;
  --padding: 1rem;
  --body-color: #343a40;
  --text-color: #868e96;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.op-0 {
  opacity: 0 !important;
}

.op-25 {
  opacity: 0.25 !important;
}

.op-50 {
  opacity: 0.5 !important;
}

.op-75 {
  opacity: 0.75 !important;
}

.op-100 {
  opacity: 1 !important;
}

.z-0 {
  z-index: 0 !important;
}

@media (min-width: null) {
  .\:z-0 {
    z-index: 0 !important;
  }
}
@media (min-width: 360px) {
  .xs\:z-0 {
    z-index: 0 !important;
  }
}
@media (min-width: 480px) {
  .sm\:z-0 {
    z-index: 0 !important;
  }
}
@media (min-width: 680px) {
  .ms\:z-0 {
    z-index: 0 !important;
  }
}
@media (min-width: 768px) {
  .md\:z-0 {
    z-index: 0 !important;
  }
}
@media (min-width: 900px) {
  .ml\:z-0 {
    z-index: 0 !important;
  }
}
@media (min-width: 1024px) {
  .lg\:z-0 {
    z-index: 0 !important;
  }
}
@media (min-width: 1280px) {
  .xl\:z-0 {
    z-index: 0 !important;
  }
}
.z-10 {
  z-index: 10 !important;
}

@media (min-width: null) {
  .\:z-10 {
    z-index: 10 !important;
  }
}
@media (min-width: 360px) {
  .xs\:z-10 {
    z-index: 10 !important;
  }
}
@media (min-width: 480px) {
  .sm\:z-10 {
    z-index: 10 !important;
  }
}
@media (min-width: 680px) {
  .ms\:z-10 {
    z-index: 10 !important;
  }
}
@media (min-width: 768px) {
  .md\:z-10 {
    z-index: 10 !important;
  }
}
@media (min-width: 900px) {
  .ml\:z-10 {
    z-index: 10 !important;
  }
}
@media (min-width: 1024px) {
  .lg\:z-10 {
    z-index: 10 !important;
  }
}
@media (min-width: 1280px) {
  .xl\:z-10 {
    z-index: 10 !important;
  }
}
.z-50 {
  z-index: 50 !important;
}

@media (min-width: null) {
  .\:z-50 {
    z-index: 50 !important;
  }
}
@media (min-width: 360px) {
  .xs\:z-50 {
    z-index: 50 !important;
  }
}
@media (min-width: 480px) {
  .sm\:z-50 {
    z-index: 50 !important;
  }
}
@media (min-width: 680px) {
  .ms\:z-50 {
    z-index: 50 !important;
  }
}
@media (min-width: 768px) {
  .md\:z-50 {
    z-index: 50 !important;
  }
}
@media (min-width: 900px) {
  .ml\:z-50 {
    z-index: 50 !important;
  }
}
@media (min-width: 1024px) {
  .lg\:z-50 {
    z-index: 50 !important;
  }
}
@media (min-width: 1280px) {
  .xl\:z-50 {
    z-index: 50 !important;
  }
}
.z-75 {
  z-index: 75 !important;
}

@media (min-width: null) {
  .\:z-75 {
    z-index: 75 !important;
  }
}
@media (min-width: 360px) {
  .xs\:z-75 {
    z-index: 75 !important;
  }
}
@media (min-width: 480px) {
  .sm\:z-75 {
    z-index: 75 !important;
  }
}
@media (min-width: 680px) {
  .ms\:z-75 {
    z-index: 75 !important;
  }
}
@media (min-width: 768px) {
  .md\:z-75 {
    z-index: 75 !important;
  }
}
@media (min-width: 900px) {
  .ml\:z-75 {
    z-index: 75 !important;
  }
}
@media (min-width: 1024px) {
  .lg\:z-75 {
    z-index: 75 !important;
  }
}
@media (min-width: 1280px) {
  .xl\:z-75 {
    z-index: 75 !important;
  }
}
.z-100 {
  z-index: 1 !important;
}

@media (min-width: null) {
  .\:z-100 {
    z-index: 1 !important;
  }
}
@media (min-width: 360px) {
  .xs\:z-100 {
    z-index: 1 !important;
  }
}
@media (min-width: 480px) {
  .sm\:z-100 {
    z-index: 1 !important;
  }
}
@media (min-width: 680px) {
  .ms\:z-100 {
    z-index: 1 !important;
  }
}
@media (min-width: 768px) {
  .md\:z-100 {
    z-index: 1 !important;
  }
}
@media (min-width: 900px) {
  .ml\:z-100 {
    z-index: 1 !important;
  }
}
@media (min-width: 1024px) {
  .lg\:z-100 {
    z-index: 1 !important;
  }
}
@media (min-width: 1280px) {
  .xl\:z-100 {
    z-index: 1 !important;
  }
}
/*colors*/
:root .primary,
[data-theme=light] .primary {
  --main: #4B70F8;
  --light: #42a5f5;
  --dark: #1565c0;
  --contrast: #fff ;
}
:root .primary\[0\],
[data-theme=light] .primary\[0\] {
  --main: transparent;
  --light: transparent;
  --dark: #1565c0;
  --contrast: #1565c0;
}
:root .primary\[1\],
[data-theme=light] .primary\[1\] {
  --main: transparent;
  --light: #EDF1FE;
  --dark: #1565c0;
  --contrast: #1565c0;
}
:root .primary\[50\],
[data-theme=light] .primary\[50\] {
  --main: #EDF1FE;
  --light: #42a5f5;
  --dark: #1565c0;
  --contrast: #1565c0;
}
:root .primary\[100\],
[data-theme=light] .primary\[100\] {
  --main: #C7D3FD;
  --light: #42a5f5;
  --dark: #1565c0;
  --contrast: #1565c0;
}
:root .primary\[200\],
[data-theme=light] .primary\[200\] {
  --main: #ACBDFC;
  --light: #42a5f5;
  --dark: #1565c0;
  --contrast: #1565c0;
}
:root .primary\[300\],
[data-theme=light] .primary\[300\] {
  --main: #869FFA;
  --light: #42a5f5;
  --dark: #1565c0;
  --contrast: #1565c0;
}
:root .primary\[400\],
[data-theme=light] .primary\[400\] {
  --main: #6F8DF9;
  --light: #42a5f5;
  --dark: #1565c0;
  --contrast: #1565c0;
}
:root .primary\[500\],
[data-theme=light] .primary\[500\] {
  --main: #4B70F8;
  --light: #42a5f5;
  --dark: #1565c0;
  --contrast: #1565c0;
}
:root .primary\[600\],
[data-theme=light] .primary\[600\] {
  --main: #4466E2;
  --light: #42a5f5;
  --dark: #1565c0;
  --contrast: #1565c0;
}
:root .primary\[700\],
[data-theme=light] .primary\[700\] {
  --main: #3550B0;
  --light: #42a5f5;
  --dark: #1565c0;
  --contrast: #ffffff;
}
:root .secondary,
[data-theme=light] .secondary {
  --main: rgb(74, 78, 99);
  --light: rgb(218, 218, 218);
  --dark: rgb(48, 48, 48);
  --contrast: white ;
}
:root .info,
[data-theme=light] .info {
  --main: #50a5f1;
  --light: #50a5f1;
  --dark: #50a5f1;
  --contrast: white ;
}
:root .warning,
[data-theme=light] .warning {
  --main: #ed6c02;
  --light: #ff9800;
  --dark: #c62828;
  --contrast: #fff ;
}
:root .danger,
[data-theme=light] .danger {
  --main: #d32f2f;
  --light: #ef5350;
  --dark: #e65100;
  --contrast: #fff ;
}
:root .success,
[data-theme=light] .success {
  --main: rgb(52, 195, 143);
  --light: #34c38f;
  --dark: #34c38f;
  --contrast: #fff;
}
:root .light,
[data-theme=light] .light {
  --main: #dbdbdb;
  --light: #4caf50;
  --dark: #1b5e20;
  --contrast: #282828;
}
:root .white,
[data-theme=light] .white {
  --main: rgb(255, 255, 255);
  --light: #4caf50;
  --dark: #1b5e20;
  --contrast: #fdfdfd;
}
:root .dark,
[data-theme=light] .dark {
  --main: #343a40;
  --light: #4caf50;
  --dark: #1b5e20;
  --contrast: white ;
}

/*colors*/
[data-theme=dark] .primary {
  --main: red;
  --light: #42a5f5;
  --dark: #1565c0;
  --contrast: #fff ;
}
[data-theme=dark] .secondary {
  --main: #74788d;
  --light: rgb(218, 218, 218);
  --dark: rgb(48, 48, 48);
  --contrast: white ;
}
[data-theme=dark] .info {
  --main: #50a5f1;
  --light: #50a5f1;
  --dark: #50a5f1;
  --contrast: white ;
}
[data-theme=dark] .warning {
  --main: #ed6c02;
  --light: #ff9800;
  --dark: #c62828;
  --contrast: #fff ;
}
[data-theme=dark] .danger {
  --main: #d32f2f;
  --light: #ef5350;
  --dark: #e65100;
  --contrast: #fff ;
}
[data-theme=dark] .success {
  --main: #34c38f;
  --light: #34c38f;
  --dark: #34c38f;
  --contrast: #fff;
}
[data-theme=dark] .light {
  --main: #EAEBEC;
  --light: #4caf50;
  --dark: #1b5e20;
  --contrast: #343A40 ;
}
[data-theme=dark] .white {
  --main: white;
  --light: #4caf50;
  --dark: #1b5e20;
  --contrast: #74788d ;
}
[data-theme=dark] .dark {
  --main: #343a40;
  --light: #4caf50;
  --dark: #1b5e20;
  --contrast: white ;
}

.vstack, .hstack {
  display: flex;
}

.vstack {
  flex-direction: column;
  align-items: stretch;
}

.hstack {
  flex-direction: row;
  align-items: center;
}

:root {
  --mode: auto-fill;
  --min-size: 40px;
  --max-size: 1fr;
}

.grid {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--mode), minmax(var(--min-size), var(--max-size)));
}

.columns-fill {
  --mode:auto-fill ;
}

.columns-fit {
  --mode:auto-fit ;
}

.cols-1 {
  --mode:1 ;
}

.cols-2 {
  --mode:2 ;
}

.cols-3 {
  --mode:3 ;
}

.cols-4 {
  --mode:4 ;
}

.cols-5 {
  --mode:5 ;
}

.cols-12 {
  --mode:12 ;
}

.min-40 {
  --min-size:40px ;
}

.min-80 {
  --min-size:80px ;
}

.min-100 {
  --min-size:100px ;
}

.min-120 {
  --min-size:120px ;
}

.min-320 {
  --min-size:320px ;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  gap: var(--gap);
}

.expand-2 {
  grid-column: span 2;
}

.expand-3 {
  grid-column: span 3;
}

.expand-4 {
  grid-column: span 4;
}

.expand-5 {
  grid-column: span 5;
}

.expand-6 {
  grid-column: span 6;
}

.expand-7 {
  grid-column: span 7;
}

.expand-8 {
  grid-column: span 8;
}

.expand-9 {
  grid-column: span 9;
}

.expand-10 {
  grid-column: span 10;
}

.expand-11 {
  grid-column: span 11;
}

.expand-12 {
  grid-column: span 12;
}

.expand-auto {
  grid-auto-columns: max-content;
}

/*variants*/
.filled {
  background-color: var(--main) !important;
  color: var(--contrast) !important;
}
.filled a {
  color: var(--contrast);
}

.outlined {
  background-color: transparent !important;
  color: var(--main) !important;
  border: solid 1px var(--main) !important;
}

.variant {
  aspect-ratio: 1/1;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded);
}

.rounded-0 {
  --rounded: 0!important;
}

.rounded-1 {
  --rounded: 0.25rem!important;
}

.rounded-2 {
  --rounded: 0.5rem!important;
}

.rounded-full {
  --rounded: 50%!important;
}

.icon, .button {
  border-radius: var(--rounded);
  height: var(--input-size);
  border: none;
  background-color: transparent;
  aspect-ratio: 1/1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

[class*=gap-] {
  gap: var(--gap);
}

.gap-0 {
  --gap: 0;
}

.gap-1 {
  --gap: 0.25rem;
}

.gap-2 {
  --gap: 0.5rem;
}

.gap-3 {
  --gap: 1.75rem;
}

.gap-4 {
  --gap: 1rem;
}

.gap-5 {
  --gap: 1.5rem;
}

.gap-6 {
  --gap: 2rem;
}

.gap-7 {
  --gap: 3rem;
}

.gap-auto {
  --gap: auto;
}

.flex, .flex-column-wrap, .flex-row-nowrap, .flex-row-wrap {
  display: flex;
}
.flex > *, .flex-column-wrap > *, .flex-row-nowrap > *, .flex-row-wrap > * {
  padding-right: calc(var(--gap) * 0.5);
  padding-left: calc(var(--gap) * 0.5);
}

.container {
  width: min(1024px, 100% - 24px);
  margin: 1rem auto;
}

.flex-row-wrap {
  flex-flow: row wrap;
}

.flex-row-nowrap {
  flex-flow: row nowrap;
}

.flex-column-wrap {
  flex-flow: column wrap;
}

:root {
  --columns: 12;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.column {
  background-color: aliceblue;
  padding: 1rem;
  border: solid 1px #D8DCE6;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 1rem;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-grid {
  display: grid !important;
}

.d-inline-grid {
  display: inline-grid !important;
}

.d-table {
  display: table !important;
}

.d-inline-table {
  display: inline-table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-table-column {
  display: table-column !important;
}

.d-table-caption {
  display: table-caption !important;
}

@media (min-width: 360px) {
  .xs\:d-none {
    display: none !important;
  }
  .xs\:d-block {
    display: block !important;
  }
  .xs\:d-inline {
    display: inline !important;
  }
  .xs\:d-inline-block {
    display: inline-block !important;
  }
  .xs\:d-flex {
    display: flex !important;
  }
  .xs\:d-inline-flex {
    display: inline-flex !important;
  }
  .xs\:d-grid {
    display: grid !important;
  }
  .xs\:d-inline-grid {
    display: inline-grid !important;
  }
  .xs\:d-table {
    display: table !important;
  }
  .xs\:d-inline-table {
    display: inline-table !important;
  }
  .xs\:d-table-row {
    display: table-row !important;
  }
  .xs\:d-table-cell {
    display: table-cell !important;
  }
  .xs\:d-table-column {
    display: table-column !important;
  }
  .xs\:d-table-caption {
    display: table-caption !important;
  }
}
@media (min-width: 480px) {
  .sm\:d-none {
    display: none !important;
  }
  .sm\:d-block {
    display: block !important;
  }
  .sm\:d-inline {
    display: inline !important;
  }
  .sm\:d-inline-block {
    display: inline-block !important;
  }
  .sm\:d-flex {
    display: flex !important;
  }
  .sm\:d-inline-flex {
    display: inline-flex !important;
  }
  .sm\:d-grid {
    display: grid !important;
  }
  .sm\:d-inline-grid {
    display: inline-grid !important;
  }
  .sm\:d-table {
    display: table !important;
  }
  .sm\:d-inline-table {
    display: inline-table !important;
  }
  .sm\:d-table-row {
    display: table-row !important;
  }
  .sm\:d-table-cell {
    display: table-cell !important;
  }
  .sm\:d-table-column {
    display: table-column !important;
  }
  .sm\:d-table-caption {
    display: table-caption !important;
  }
}
@media (min-width: 680px) {
  .ms\:d-none {
    display: none !important;
  }
  .ms\:d-block {
    display: block !important;
  }
  .ms\:d-inline {
    display: inline !important;
  }
  .ms\:d-inline-block {
    display: inline-block !important;
  }
  .ms\:d-flex {
    display: flex !important;
  }
  .ms\:d-inline-flex {
    display: inline-flex !important;
  }
  .ms\:d-grid {
    display: grid !important;
  }
  .ms\:d-inline-grid {
    display: inline-grid !important;
  }
  .ms\:d-table {
    display: table !important;
  }
  .ms\:d-inline-table {
    display: inline-table !important;
  }
  .ms\:d-table-row {
    display: table-row !important;
  }
  .ms\:d-table-cell {
    display: table-cell !important;
  }
  .ms\:d-table-column {
    display: table-column !important;
  }
  .ms\:d-table-caption {
    display: table-caption !important;
  }
}
@media (min-width: 768px) {
  .md\:d-none {
    display: none !important;
  }
  .md\:d-block {
    display: block !important;
  }
  .md\:d-inline {
    display: inline !important;
  }
  .md\:d-inline-block {
    display: inline-block !important;
  }
  .md\:d-flex {
    display: flex !important;
  }
  .md\:d-inline-flex {
    display: inline-flex !important;
  }
  .md\:d-grid {
    display: grid !important;
  }
  .md\:d-inline-grid {
    display: inline-grid !important;
  }
  .md\:d-table {
    display: table !important;
  }
  .md\:d-inline-table {
    display: inline-table !important;
  }
  .md\:d-table-row {
    display: table-row !important;
  }
  .md\:d-table-cell {
    display: table-cell !important;
  }
  .md\:d-table-column {
    display: table-column !important;
  }
  .md\:d-table-caption {
    display: table-caption !important;
  }
}
@media (min-width: 900px) {
  .ml\:d-none {
    display: none !important;
  }
  .ml\:d-block {
    display: block !important;
  }
  .ml\:d-inline {
    display: inline !important;
  }
  .ml\:d-inline-block {
    display: inline-block !important;
  }
  .ml\:d-flex {
    display: flex !important;
  }
  .ml\:d-inline-flex {
    display: inline-flex !important;
  }
  .ml\:d-grid {
    display: grid !important;
  }
  .ml\:d-inline-grid {
    display: inline-grid !important;
  }
  .ml\:d-table {
    display: table !important;
  }
  .ml\:d-inline-table {
    display: inline-table !important;
  }
  .ml\:d-table-row {
    display: table-row !important;
  }
  .ml\:d-table-cell {
    display: table-cell !important;
  }
  .ml\:d-table-column {
    display: table-column !important;
  }
  .ml\:d-table-caption {
    display: table-caption !important;
  }
}
@media (min-width: 1024px) {
  .lg\:d-none {
    display: none !important;
  }
  .lg\:d-block {
    display: block !important;
  }
  .lg\:d-inline {
    display: inline !important;
  }
  .lg\:d-inline-block {
    display: inline-block !important;
  }
  .lg\:d-flex {
    display: flex !important;
  }
  .lg\:d-inline-flex {
    display: inline-flex !important;
  }
  .lg\:d-grid {
    display: grid !important;
  }
  .lg\:d-inline-grid {
    display: inline-grid !important;
  }
  .lg\:d-table {
    display: table !important;
  }
  .lg\:d-inline-table {
    display: inline-table !important;
  }
  .lg\:d-table-row {
    display: table-row !important;
  }
  .lg\:d-table-cell {
    display: table-cell !important;
  }
  .lg\:d-table-column {
    display: table-column !important;
  }
  .lg\:d-table-caption {
    display: table-caption !important;
  }
}
@media (min-width: 1280px) {
  .xl\:d-none {
    display: none !important;
  }
  .xl\:d-block {
    display: block !important;
  }
  .xl\:d-inline {
    display: inline !important;
  }
  .xl\:d-inline-block {
    display: inline-block !important;
  }
  .xl\:d-flex {
    display: flex !important;
  }
  .xl\:d-inline-flex {
    display: inline-flex !important;
  }
  .xl\:d-grid {
    display: grid !important;
  }
  .xl\:d-inline-grid {
    display: inline-grid !important;
  }
  .xl\:d-table {
    display: table !important;
  }
  .xl\:d-inline-table {
    display: inline-table !important;
  }
  .xl\:d-table-row {
    display: table-row !important;
  }
  .xl\:d-table-cell {
    display: table-cell !important;
  }
  .xl\:d-table-column {
    display: table-column !important;
  }
  .xl\:d-table-caption {
    display: table-caption !important;
  }
}
.alert {
  --rounded: 0.5rem;
  padding: var(--padding);
  border-radius: var(--rounded);
  margin-bottom: 1rem;
}

.button {
  aspect-ratio: auto;
  padding: 0.5rem 1rem;
}

.input {
  border-radius: 0.25rem;
  background-color: #fff;
  border: solid 1px #D8DCE6;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}
.input input {
  border: none;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 4px;
}
.input input:focus-visible {
  outline: none;
}

@media (min-width: null) {
  .\:size-1 {
    width: 1.5rem;
  }
  .\:size-2 {
    width: 2rem;
  }
  .\:size-3 {
    width: 2.5rem;
  }
  .\:size-4 {
    width: 3rem;
  }
  .\:size-5 {
    width: 3.5rem;
  }
  .\:size-6 {
    width: 4rem;
  }
  .\:size-7 {
    width: 4.5rem;
  }
  .\:size-8 {
    width: 5rem;
  }
  .\:size-9 {
    width: 6rem;
  }
}
@media (min-width: 360px) {
  .xs\:size-1 {
    width: 1.5rem;
  }
  .xs\:size-2 {
    width: 2rem;
  }
  .xs\:size-3 {
    width: 2.5rem;
  }
  .xs\:size-4 {
    width: 3rem;
  }
  .xs\:size-5 {
    width: 3.5rem;
  }
  .xs\:size-6 {
    width: 4rem;
  }
  .xs\:size-7 {
    width: 4.5rem;
  }
  .xs\:size-8 {
    width: 5rem;
  }
  .xs\:size-9 {
    width: 6rem;
  }
}
@media (min-width: 480px) {
  .sm\:size-1 {
    width: 1.5rem;
  }
  .sm\:size-2 {
    width: 2rem;
  }
  .sm\:size-3 {
    width: 2.5rem;
  }
  .sm\:size-4 {
    width: 3rem;
  }
  .sm\:size-5 {
    width: 3.5rem;
  }
  .sm\:size-6 {
    width: 4rem;
  }
  .sm\:size-7 {
    width: 4.5rem;
  }
  .sm\:size-8 {
    width: 5rem;
  }
  .sm\:size-9 {
    width: 6rem;
  }
}
@media (min-width: 680px) {
  .ms\:size-1 {
    width: 1.5rem;
  }
  .ms\:size-2 {
    width: 2rem;
  }
  .ms\:size-3 {
    width: 2.5rem;
  }
  .ms\:size-4 {
    width: 3rem;
  }
  .ms\:size-5 {
    width: 3.5rem;
  }
  .ms\:size-6 {
    width: 4rem;
  }
  .ms\:size-7 {
    width: 4.5rem;
  }
  .ms\:size-8 {
    width: 5rem;
  }
  .ms\:size-9 {
    width: 6rem;
  }
}
@media (min-width: 768px) {
  .md\:size-1 {
    width: 1.5rem;
  }
  .md\:size-2 {
    width: 2rem;
  }
  .md\:size-3 {
    width: 2.5rem;
  }
  .md\:size-4 {
    width: 3rem;
  }
  .md\:size-5 {
    width: 3.5rem;
  }
  .md\:size-6 {
    width: 4rem;
  }
  .md\:size-7 {
    width: 4.5rem;
  }
  .md\:size-8 {
    width: 5rem;
  }
  .md\:size-9 {
    width: 6rem;
  }
}
@media (min-width: 900px) {
  .ml\:size-1 {
    width: 1.5rem;
  }
  .ml\:size-2 {
    width: 2rem;
  }
  .ml\:size-3 {
    width: 2.5rem;
  }
  .ml\:size-4 {
    width: 3rem;
  }
  .ml\:size-5 {
    width: 3.5rem;
  }
  .ml\:size-6 {
    width: 4rem;
  }
  .ml\:size-7 {
    width: 4.5rem;
  }
  .ml\:size-8 {
    width: 5rem;
  }
  .ml\:size-9 {
    width: 6rem;
  }
}
@media (min-width: 1024px) {
  .lg\:size-1 {
    width: 1.5rem;
  }
  .lg\:size-2 {
    width: 2rem;
  }
  .lg\:size-3 {
    width: 2.5rem;
  }
  .lg\:size-4 {
    width: 3rem;
  }
  .lg\:size-5 {
    width: 3.5rem;
  }
  .lg\:size-6 {
    width: 4rem;
  }
  .lg\:size-7 {
    width: 4.5rem;
  }
  .lg\:size-8 {
    width: 5rem;
  }
  .lg\:size-9 {
    width: 6rem;
  }
}
@media (min-width: 1280px) {
  .xl\:size-1 {
    width: 1.5rem;
  }
  .xl\:size-2 {
    width: 2rem;
  }
  .xl\:size-3 {
    width: 2.5rem;
  }
  .xl\:size-4 {
    width: 3rem;
  }
  .xl\:size-5 {
    width: 3.5rem;
  }
  .xl\:size-6 {
    width: 4rem;
  }
  .xl\:size-7 {
    width: 4.5rem;
  }
  .xl\:size-8 {
    width: 5rem;
  }
  .xl\:size-9 {
    width: 6rem;
  }
}
.icon-container {
  transition: scale 0.5s ease-in-out;
}

.icon-container:has(:hover) :not(:hover) {
  scale: 0.8;
}

.card {
  background-color: white;
}
.card img {
  width: 100%;
}
.card .card-body {
  padding: 1rem;
}

.ds-section {
  background-color: white;
  margin-bottom: 40px;
  padding-bottom: 56px;
}
.ds-section .ds-heading {
  font-weight: 500;
  background-color: cadetblue;
  padding: 40px;
  color: white;
  font-size: 40px;
}
.ds-section .ds-section-title {
  text-transform: uppercase;
  color: #888888;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: 500;
}
.ds-section .content {
  padding: 40px;
}

.ds-colors {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.ds-colors > * {
  display: flex;
  flex: 1 1 auto;
  border: solid 1px #ddd;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  min-height: 50px;
}

.ds-table {
  width: 100%;
}
.ds-table tr {
  border-bottom: solid 1px #ddd;
}

.ds-grid-9 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.ds-grid-typo {
  display: grid;
  grid-template-columns: 50% repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}
.ds-grid-typo span {
  text-align: center;
}

.ds-grid-2 {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: end;
}

.border-b {
  border-bottom: solid 1px #ddd;
}

:root {
  --gap: 1rem;
}

.min-40 {
  --size:40px ;
}

.min-80 {
  --size:80px ;
}

.min-90 {
  --size:90px ;
}

.min-120 {
  --size:120px ;
}

.ds-grid-icon span {
  border: solid 1px #ddd;
  aspect-ratio: 1/1;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  display: flex;
}
.ds-grid-icon svg {
  stroke: #858585;
}

.cols-1 {
  --cols: 1;
}

.cols-2 {
  --cols: 2;
}

.cols-3 {
  --cols: 3;
}

.w-700 {
  width: 700px;
}

.w-100 {
  width: 100px;
}

.palette {
  height: 40px;
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 16px;
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.1);
  border-radius: 4px;
  overflow: hidden;
  overflow: hidden;
}

.color-palette {
  height: 40px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.color-code {
  display: flex;
  flex-direction: row;
  padding: 8px;
  color: #7e7e7e;
  font-size: 12px;
  font-weight: 600;
  justify-content: flex-start;
  justify-items: start;
  width: 100%;
  text-transform: uppercase;
}

.base {
  height: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-content {
  width: 760px;
  height: 90vh;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.modal, .accordion {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}
.modal-header, .accordion-header {
  --padding:1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 1px solid #e5e7eb;
}
.modal-body, .accordion-body {
  padding: var(--padding);
  flex: 1 1 auto;
  overflow: auto;
}
.modal-footer, .accordion-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid #e5e7eb;
}

.box, .drawer-footer, .drawer-body, .drawer-header, .popover-footer, .popover-body, .popover-header {
  padding: 1rem;
}

.popover-header {
  border-bottom: 1px solid #e5e7eb;
}
.popover-body {
  overflow: auto;
}
.popover-footer {
  border-top: 1px solid #e5e7eb;
}

.drawer-header {
  border-bottom: 1px solid #e5e7eb;
}
.drawer-body {
  overflow: auto;
}
.drawer-footer {
  border-top: 1px solid #e5e7eb;
}

.ratio-1x1 {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.width-100 {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: solid 1px #D8DCE6;
  border-radius: 4px;
  overflow: hidden;
}
.table thead tr th {
  padding: 1rem;
  background-color: #f7f7f7;
  border-bottom: solid 1px #D8DCE6;
}
.table tbody tr td {
  padding: 1rem;
  border-bottom: solid 1px #D8DCE6;
}

.option {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input[type=radio],
input[type=checkbox] {
  background-color: red !important;
  border: solid 1px red;
  display: none;
}
input[type=radio] + .indicator,
input[type=checkbox] + .indicator {
  border: solid 2px #ddd;
  width: 16px;
  aspect-ratio: 1/1 !important;
  display: inline-block;
  margin: 0px;
}

input[type=radio] + .indicator {
  border-radius: 50%;
}

input[type=checkbox] + .indicator {
  border-radius: 4px;
}

input[type=radio]:checked + .indicator, input[type=checkbox]:checked + .indicator {
  border: solid 2px red;
}
input[type=radio]:disabled + .indicator, input[type=checkbox]:disabled + .indicator {
  opacity: 0.5;
}

.container-fluid {
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 320px) {
  .container {
    max-width: 280px;
  }
}
@media (min-width: 360px) {
  .container {
    max-width: 320px;
  }
}
@media (min-width: 480px) {
  .container {
    max-width: 420px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 800px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.contain {
  margin: 0 auto;
  max-width: 1400px;
}

.wrapper {
  display: flex;
  height: auto;
}

.bg-blue {
  background-color: #162F58;
  color: white;
}

.aside {
  background-color: #03234C;
  flex: 0 0 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nova Round", system-ui;
  position: fixed;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 100%;
  min-height: 100dvh;
  margin-left: 310px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 4px rgba(225, 225, 225, 0.2);
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-style: normal;
}

.menu {
  list-style: none;
  padding: 0rem;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu .menu-item {
  margin: 0;
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 1rem;
  width: 100%;
  cursor: pointer;
}
.menu .menu-link {
  color: white;
  border-radius: 100px;
  background-color: #162F58;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  text-transform: uppercase;
  font-family: "Nova Round", system-ui;
  font-size: 14px;
}
.menu .menu-link.active {
  background-color: #1D3D72;
  color: white;
}
.menu .menu-link:hover {
  background-color: #1D3D72;
  color: white;
}

.contact-info {
  text-align: center;
  padding: 2rem;
}

.user-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: "Nova Round", system-ui;
}

p {
  letter-spacing: 1.5px;
  font-weight: 200;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
  margin-bottom: 1rem;
}

.desc {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0.5rem;
}

.history {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem;
}
.history p {
  margin-bottom: 1rem;
}

.skills {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.skills dd {
  text-align: right;
  justify-content: end;
}
.skills strong {
  padding-left: 1.5rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

.project {
  background-color: #284677;
  overflow: hidden;
}
.project .project-info {
  padding: 0.75rem 1rem;
  font-size: 12px;
}
.project:hover {
  cursor: pointer;
  background-color: #1D3D72;
}/*# sourceMappingURL=style.css.map */